# Part 1

In [1]:
int('+3')

3

In [2]:
int('-3')

-3

In [17]:
def sum_freq(text):
    sum_ = 0
    for line in text.split('\n')[:-1]:
        sum_ += int(line)
    return sum_

In [18]:
sum_freq('''+1
-2
+3
+1
''')

3

In [20]:
sum_freq('''+1
+1
+1
''')

3

In [21]:
sum_freq('''+1
+1
-2
''')

0

In [22]:
sum_freq('''-1
-2
-3
''')

-6

In [25]:
with open('input.txt') as input1:
    print(sum_freq(input1.read()))

592

# Part 2

In [35]:
def first_dupe(text):
    seen = set()
    sum_ = 0
    while True:
        for line in text.split('\n')[:-1]:
            sum_ += int(line)
            if sum_ in seen:
                return sum_
            else:
                seen.add(sum_)
    return sum_

In [38]:
# The first example on AOC seems to be broken.
first_dupe('''+1
-1
''')

1

In [37]:
first_dupe('''+3
+3
+4
-2
-4
''')

10

In [39]:
first_dupe('''-6
+3
+8
+5
-6
''')

5

In [40]:
first_dupe('''+7
+7
-2
-7
-4
''')

14

In [41]:
with open('input.txt') as input1:
    print(first_dupe(input1.read()))

241